<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" type="image/svg+xml" href="../static/images/logoDR.svg">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="referrer" content="no-referrer" />
    <!--Этот элемент определяет параметры отображения на мобильных устройствах width=device-width указывает, что ширина страницы должна соответствовать ширине устройства, а initial-scale=1.0 задает начальный масштаб отображения-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    <title>Заявление о внесении изменений компании</title>
    <link rel="stylesheet" href="../static/css/style2.css"> <!--ИЗМЕНЕНО-->
    <script type="text/javascript" src="../static/js/script.js"></script> <!--ИЗМЕНЕНО-->
    
    <!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]function(){(m[i].a=m[i].a[]).push(arguments)};
   m[i].l=1*new Date();
   for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
   k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(99199811, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/99199811" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
</head>

<style>
    @media (max-width: 450px) {
    .str-name-apps{
        width: auto !important;
    }
}
</style>

<body style="margin:0;">

    <div class="header-line-main"> <!--Шапка с менюшкой -->
       <div class="name" style="display: flex; align-items: center;">
            <img onclick="window.location.href='/'" src="../static/images/logoDR.svg" style="width: 4vw; margin-right: 2vw; cursor: pointer;">
            <p style="font-size: 1.04vw; cursor: default;" onclick="window.location.href='/'">Портал российских ИТ-решений</p>
        </div>

        <!--<p style="cursor: default; color:red; position: absolute; right: 11vw; font-size: 0.73vw;">Внимание! Портал находится в тестовом режиме.</p>-->

        <button id="myButton-burger-menu" onclick="myFunctionForMyButtonMenu(event)"
            style=" display: flex; margin-left: 22vw; align-items: center; margin-right: 0vw; cursor: pointer;">
            Меню
            <svg style="margin-left: 2.4vw;" xmlns="http://www.w3.org/2000/svg" width="1.52vw" height="0.88vw"
                viewBox="0 0 25 17" fill="none">
                <rect y="0.5" width="25" height="2" fill="#1F2B6A" fill-opacity="0.8" />
                <rect y="7.5" width="25" height="2" fill="#1F2B6A" fill-opacity="0.8" />
                <rect y="14.5" width="25" height="2" fill="#1F2B6A" fill-opacity="0.8" />
            </svg>
        </button>
    </div>

    <div id="burger-menu" class="burger-menu" style="display: none;">
        <p style="font-size: 0.83vw; cursor: default;">Петров А.В</p> <!--Динамические данные-->
        <a href="/" class="menu-burger-item">Главная</a>
        <a href="/map" class="menu-burger-item">Портал</a>
        <a href="/#news" class="menu-burger-item">Новости</a>
        <a href="/application" class="menu-burger-item" style="color: rgba(31, 43, 106, 0.5);">Заявления</a>
        <a href="/region-contacts" class="menu-burger-item">Региональные представители</a>
        <form method="post" action="/logout">
            <button type="submit" class="menu-burger-item" style="color: red; background: none; border: none; padding: 0; cursor: pointer;">
                Выйти
            </button>
        </form>
    </div>

    <!-- Модальное окно -->
    <div id="modal" class="modal" onclick="closeModal(event)">
        <div class="modal-content">
            <div id="close" onclick="closeModalPopApp(event)">
                <svg style="float: right;" xmlns="http://www.w3.org/2000/svg" width="1.25vw" height="1.25vw"
                    viewBox="0 0 24 24" fill="none">
                    <path d="M1.78516 22.2134L22.9984 1.00018" stroke="#383874" stroke-width="2"
                        stroke-linecap="round" />
                    <path d="M1.78516 1.21338L22.9984 22.4266" stroke="#383874" stroke-width="2"
                        stroke-linecap="round" />
                </svg>
            </div>
            <p>Спасибо! <br> Заявление успешно отправлено</p>
            <form action="/">
                <button class="blue-button">
                    На главную
                </button>
            </form>
        </div>
    </div>

    <div class="str-app"> <!--Целиком страница-->
        <div style="display: flex; justify-content: center; ">
                <h1 class="str-name-apps" style="font-size: 2.5vw; font-weight: 400; margin-bottom: 0; margin-top: 0; cursor: default;width: 63.54vw;">
                    Заявление о внесении изменений компании</h1>
        </div>
        <div style="display: flex; justify-content: center; cursor: default;">
            <div class="app-card" style="width: 60.42vw; display: flex;">
                <div>
                    <h2 style="font-weight: 500;">Заполните форму</h2>
                    <p>Мы свяжемся с вами в ближайшее время </p>
                    <input type="text" id="companyName" class="report-input" style="width: 27.6vw;"
                        placeholder="Наименование компании">
                    <p id="CompanyNameError" class="error-message" style="color: red; display: none; margin: 0;"></p>
                    <textarea placeholder="Опишите какую информацию хотите изменить" class="report-input big-input"
                        style=" resize: vertical; width: 27.6vw; padding-top: 0.5vw; font-family: Inter, sans-serif; color: rgba(31, 43, 106, 1);height: 7vw;"
                        name="Опишите какую информацию хотите изменить" required></textarea>
                    <p id="ProblemError" class="error-message" style="color: red; display: none; margin: 0;"></p>
                    <input type="text" id="phone" class="report-input" style="width: 27.6vw;"
                        placeholder="Оставьте номер телефона для связи">
                    <p id="PhoneError" class="error-message" style="color: red; display: none; margin: 0;"></p>
                    <div class="checkbox">
                        <div class="">
                            <input type="checkbox" id="agree" name="agree" />
                            <label for="agree" style="display: flex; width: 23vw;">Я согласен(на) с политикой
                                конфиденциальности и даю согласие на
                                обработку персональных данных<span style="color: red;">*</span></label>
                        </div>
                    </div>
                    <p id="PolicyError" class="error-message" style="color: red; display: none; margin: 0;"></p>
                    <div style="display: flex; justify-content: flex-start;">
                        <button class="blue-button" style="cursor: pointer;" 
                            onclick="submitApplicationChange()">Отправить</button>
                    </div>
                </div>
                <img style="width: 30.16vw;" src="../static/images/image4app.png">
            </div>
        </div>
    </div>
    <div class="footer" style="display: flex; justify-content: space-between; align-items: center;">
        <div>
            <h3 style="cursor: default;">Контакты</h3>
            <div style="display: flex; cursor: default;">
                <p>dis@krasnodar.ru</p>
                <p style="margin-left: 1.875vw;">+7 (861) 214-22-00</p>
                <!-- <p style="margin-left: 1.875vw;">+7 999 999-99-99</p> -->
            </div>
        </div>
        <div>
            <h3 style="cursor: default;">Навигация</h3>
            <div class="mini-menu" style="display: flex;">
                <a href="/">Главная</a>
                <a href="/map" style="margin-left: 1.875vw;">Портал</a>
                <a href="/application" style="margin-left: 1.875vw;">Заявления</a>
                <a href="/region-contacts" style="margin-left: 1.875vw;" id="regpredstaviteli">Региональные представители</a>
            </div>
        </div>
        <div>
            <p style="margin-top: 2.66vw; cursor: default;">Все права защищены</p>
            <p><a href="/privacy-policy">Политика конфиденциальности</a></p>
            <a href="https://kollab.pro/" target="_blank" style="display: flex; align-items: center; text-decoration: none; cursor: pointer;">
                <p style="margin: 0vw; margin-right: 0.26vw; color: inherit;">Портал разработан Kollab.pro</p>
                <img src="../static/images/kollab.png" alt="Логотип">
            </a>
        </div>
    </div>
</body>